<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tool="http://schemas.android.com/apk/res-auto"
          xmlns:tools="http://schemas.android.com/tools"
          package="no.noname.baseapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        tools:overrideLibrary="timber.log"
        android:name="com.demo.DemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatlasTheme">
        <activity
            android:name="com.demo.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">

        </activity>

        <activity
            android:name="com.demo.ui.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.demo.ui.auth.AuthActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.demo.ui.auth.SelectCountryActivity"
                  android:screenOrientation="portrait"/>

        <service
            android:name="com.demo.service.firebase.ChatlasService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <service
            android:name="com.demo.service.firebase.IdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!--Dummy activity for RxActivityResult-->
        <activity android:name="com.demo.ui.rx_activity_result.HolderActivity"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a72475c889d49c30bf16223e1f9d2bf18ecf5720" />
    </application>

</manifest>